---
layout: default
title: Pig Dinner
tags: Frank Norris, Pig Dinner, Allegheny College, Phi Gamma Delta, Fiji, Allegheny Fiji, Phi Gam
permalink: /pig_dinner
---

<div class="center">
  <h1>{{ page.title }}</h1>
  <div id=bannerimage></div>
  <div class="column2">
    <h2>Come join the Pi Chapter for the 2020 Frank Norris Memorial Pig Dinner.</h2>
    <p>Phi Gamma Delta's Norris Pig Dinner is the most widely observed and
      longest continually running, chapter based, annual graduate event in the
      Greek world. The first Pig Dinner was held at the University of California
      at Berkeley in 1893. In 1902, the Pig Dinner was dedicated in memory of
      Frank Norris (California at Berkeley 1894), whose sense of humor created
      the event that has become an annual ceremony throughout all of Phi Gamma Delta.</p>
    <a href="https://www.legfi.com/app/events/pichapterpigdinner2020/1990" target="_blank">
      <button class="donateButton" type="button" name="Donate">Get Tickets Here</button>
    </a>
  </div>
  <div class="column2">
      {% for info in site.data.site_info.Pig_dinner %}
        <h3>
          Date:
          {% if info.date == none %}
            To be announced
          {% else %}
            {{ info.date }}
          {% endif %}
        </h3>
        <h3>
          Time:
          {% if info.time == none %}
            To be announced
          {% else %}
            {{ info.time }}
          {% endif %}
        </h3>
        <h3>Location:
          {% if info.location == none %}
            To be announced</h3>
        {% else %}
        </h3> <!-- Leave this tag, is necessary for conditional formatting of location -->
          <iframe src="{{ info.location }}" width="auto" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        {% endif %}
      {% endfor %}
  </div>
</div>

<!-- <div class="center">
  <h1>Due to Corona Virus concerns, Pig Dinner is canceled this year (2020).</h1>
  <h2>If you have bought a ticket, please contact us.</h2>
</div> -->
