# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Pi Chapter of Phi Gamma Delta
email: fiji@allegheny.edu
description: >- # this means to ignore newlines until "baseurl:"
  We the brothers of the Pi Chapter of Phi Gamma Delta, exist to create a group
  of extraordinary gentlemen through diversity, excellence, and love for oneself.
  We aim to seek the highest standard of Friendship through diverse lifelong
  bonds of brotherhood. We aim to achieve true Knowledge through scholarly
  excellence. We aim to be the standard of Servic for fraternities and
  sororities on campus through our commitment to philanthropy and comomunity
  service. We aim to be the definition of Morality for knowing right from wrong
  and treating others with the utmost respect and showing we are truly Fiji
  gentlemen. We aim to achieve Excellence by upholding these four values and
  will aim to always lead with love and compassion for oneself and for the world.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: jekyllrb
# github_username:  ZachAndrews98
# linkedin_username: ZachAndrews98

# Build settings
theme: minima
plugins:
  - jekyll-feed

listed_pages:
 - name: Home
   url: /
 - name: About
   url: /about.html
 - name: Brothers
   url: /brothers.html
 - name: Media
   url: /media.html
 - name: Contact
   url: /contact.html

motto: Friendship, Knowledge, Service, Morality, & Excellence

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
