---
layout: default
title: Brothers
---
<h1 class="center">{{ page.title }}</h1>
<!-- Smart layout broken up into year -->

<!-- Seniors -->
{% assign length = site.data.brothers_list.Seniors | size %}
{% if length != 0 %}
  <h2>Seniors</h2>
  {% assign cSize = "column4" %}
  {% for brother in site.data.brothers_list.Seniors %}
    {% assign check = forloop.index | modulo: 4 %}
    {% assign diff = length | minus: forloop.index %}
    {% if check == 1 %}
      <div class="row">
      {% if diff < 4 %}
        {% if diff == 2 %}
          {% assign cSize = "column3" %}
        {% endif %}
        {% if diff == 1 %}
          {% assign cSize = "column2" %}
        {% endif %}
        {% if diff == 0 %}
          {% assign cSize = "" %}
        {% endif %}
      {% endif %}
    {% endif %}
    <div class="{{ cSize }}">
      {% assign last = brother.name | split: ' ' %}
      {% assign image = "/assets/images/brothers/" | append: brother.class | append: "/" | append: last[1] | downcase | append: ".jpg" %}
      <img class="headshot" src="{{ image }}" onerror="this.src='/assets/images/logo.png';" alt="{{ brother.name }}">
      <h3 class="center">{{ brother.name }}</h3>
      <p class="center">Major: {{ brother.major }}<br>Minor: {{ brother.minor }}<br></p>
    </div>
    {% if check == 0 or diff == 0%}
    </div>
    {% endif %}
  {% endfor %}
{% endif %}

<!-- Juniors -->
{% assign length = site.data.brothers_list.Juniors | size %}
{% if length != 0 %}
  <br>
  <h2>Juniors</h2>
  {% assign cSize = "column4" %}
  {% for brother in site.data.brothers_list.Juniors %}
    {% assign check = forloop.index | modulo: 4 %}
    {% assign diff = length | minus: forloop.index %}
    {% if check == 1 %}
      <div class="row">
      {% if diff < 4 %}
        {% if diff == 2 %}
          {% assign cSize = "column3" %}
        {% endif %}
        {% if diff == 1 %}
          {% assign cSize = "column2" %}
        {% endif %}
        {% if diff == 0 %}
          {% assign cSize = "" %}
        {% endif %}
      {% endif %}
    {% endif %}
    <div class="{{ cSize }}">
      {% assign last = brother.name | split: ' ' %}
            {% assign image = "/assets/images/brothers/" | append: brother.class | append: "/" | append: last[1] | downcase | append: ".jpg" %}
      <img class="headshot" src="{{ image }}" onerror="this.src='/assets/images/logo.png';" alt="{{ brother.name }}">
      <h3 class="center">{{ brother.name }}</h3>
      <p class="center">Major: {{ brother.major }}<br>Minor: {{ brother.minor }}<br></p>
    </div>
    {% if check == 0  or diff == 0 %}
    </div>
    {% endif %}
  {% endfor %}
{% endif %}

<!-- Sophmores -->
{% assign length = site.data.brothers_list.Sophmores | size %}
{% if length != 0 %}
  <br>
  <h2>Sophmores</h2>
  {% assign cSize = "column4" %}
  {% for brother in site.data.brothers_list.Sophmores %}
    {% assign check = forloop.index | modulo: 4 %}
    {% assign diff = length | minus: forloop.index %}
    {% if check == 1 %}
      <div class="row">
      {% assign diff = length | minus: forloop.index %}
      {% if diff < 4 %}
        {% if diff == 2 %}
          {% assign cSize = "column3" %}
        {% endif %}
        {% if diff == 1 %}
          {% assign cSize = "column2" %}
        {% endif %}
        {% if diff == 0 %}
          {% assign cSize = "" %}
        {% endif %}
      {% endif %}
    {% endif %}
    <div class="{{ cSize }}">
      {% assign last = brother.name | split: ' ' %}
            {% assign image = "/assets/images/brothers/" | append: brother.class | append: "/" | append: last[1] | downcase | append: ".jpg" %}
      <img class="headshot" src="{{ image }}" onerror="this.src='/assets/images/logo.png';" alt="{{ brother.name }}">
      <h3 class="center">{{ brother.name }}</h3>
      <p class="center">Major: {{ brother.major }}<br>Minor: {{ brother.minor }}<br></p>
    </div>
    {% if check == 0  or diff == 0 %}
    </div>
    {% endif %}
  {% endfor %}
{% endif %}

<!-- Freshmen -->
{% assign length = site.data.brothers_list.Freshmen | size %}
{% if length != 0 %}
  <br>
  <h2>Freshmen</h2>
  {% assign cSize = "column4" %}
  {% for brother in site.data.brothers_list.Freshmen %}
    {% assign check = forloop.index | modulo: 4 %}
    {% assign diff = length | minus: forloop.index %}
    {% if check == 1 %}
      <div class="row">
      {% assign diff = length | minus: forloop.index %}
      {% if diff < 4 %}
        {% if diff == 2 %}
          {% assign cSize = "column3" %}
        {% endif %}
        {% if diff == 1 %}
          {% assign cSize = "column2" %}
        {% endif %}
        {% if diff == 0 %}
          {% assign cSize = "" %}
        {% endif %}
      {% endif %}
    {% endif %}
    <div class="{{ cSize }}">
      {% assign last = brother.name | split: ' ' %}
      {% assign image = "/assets/images/brothers/" | append: brother.class | append: "/" | append: last[1] | downcase | append: ".jpg" %}
      <img class="headshot" src="{{ image }}" onerror="this.src='/assets/images/logo.png';" alt="{{ brother.name }}">
      <h3 class="center">{{ brother.name }}</h3>
      <p class="center">Major: {{ brother.major }}<br>Minor: {{ brother.minor }}<br></p>
    </div>
    {% if check == 0 or diff == 0 %}
    </div>
    {% endif %}
  {% endfor %}
{% endif %}
