---
layout: default
title: Brothers
---
<h1 class="center">Brothers</h1>
<!-- Smart layout broken up into year -->
{% assign length = site.data.brothers.Seniors | size %}
{% if length != 0 %}
  <h2>Seniors</h2>
  {% assign cSize = "column4" %}
  {% for brother in site.data.brothers.Seniors %}
    {% assign check = forloop.index | modulo: 4 %}
    {% assign diff = length | minus: forloop.index %}
    {% if check == 1 %}
      <div class="row">
      {% if diff < 4 %}
        {% if diff == 2 %}
          {% assign cSize = "column3" %}
          {% assign check = false %}
        {% endif %}
        {% if diff == 1 %}
          {% assign cSize = "column2" %}
          {% assign check = false %}
        {% endif %}
        {% if diff == 0 %}
          {% assign cSize = "" %}
          {% assign check = false %}
        {% endif %}
      {% endif %}
    {% endif %}
    <div class="{{ cSize }}">
      <img class="headshot"
      src="{% if brother.image != None %} {{brother.image}} {% else %} /assets/images/test.jpg {% endif %}">
      <h3 class="center">{{ brother.name }}</h3>
      <p class="center">Major: {{ brother.major }}<br>Minor: {{ brother.minor }}<br></p>
    </div>
    {% if check == 0 or diff == 0%}
    </div>
    {% endif %}
  {% endfor %}
{% endif %}
{% assign length = site.data.brothers.Juniors | size %}
{% if length != 0 %}
  <br>
  <h2>Juniors</h2>
  {% assign cSize = "column4" %}
  {% for brother in site.data.brothers.Juniors %}
    {% assign check = forloop.index | modulo: 4 %}
    {% assign diff = length | minus: forloop.index %}
    {% if check == 1 %}
      <div class="row">
      {% if diff < 4 %}
        {% if diff == 2 %}
          {% assign cSize = "column3" %}
          {% assign check = false %}
        {% endif %}
        {% if diff == 1 %}
          {% assign cSize = "column2" %}
          {% assign check = false %}
        {% endif %}
        {% if diff == 0 %}
          {% assign cSize = "" %}
          {% assign check = false %}
        {% endif %}
      {% endif %}
    {% endif %}
    <div class="{{ cSize }}">
      <img class="headshot"
      src="{% if brother.image != None %} {{brother.image}} {% else %} /assets/images/test.jpg {% endif %}">
      <h3 class="center">{{ brother.name }}</h3>
      <p class="center">Major: {{ brother.major }}<br>Minor: {{ brother.minor }}<br></p>
    </div>
    {% if check == 0  or diff == 0 %}
    </div>
    {% endif %}
  {% endfor %}
{% endif %}
{% assign length = site.data.brothers.Sophmores | size %}
{% if length != 0 %}
  <br>
  <h2>Sophmores</h2>
  {% assign cSize = "column4" %}
  {% for brother in site.data.brothers.Sophmores %}
    {% assign check = forloop.index | modulo: 4 %}
    {% assign diff = length | minus: forloop.index %}
    {% if check == 1 %}
      <div class="row">
      {% assign diff = length | minus: forloop.index %}
      {% if diff < 4 %}
        {% if diff == 2 %}
          {% assign cSize = "column3" %}
          {% assign check = false %}
        {% endif %}
        {% if diff == 1 %}
          {% assign cSize = "column2" %}
          {% assign check = false %}
        {% endif %}
        {% if diff == 0 %}
          {% assign cSize = "" %}
          {% assign check = false %}
        {% endif %}
      {% endif %}
    {% endif %}
    <div class="{{ cSize }}">
      <img class="headshot"
      src="{% if brother.image != None %} {{brother.image}} {% else %} /assets/images/test.jpg {% endif %}">
      <h3 class="center">{{ brother.name }}</h3>
      <p class="center">Major: {{ brother.major }}<br>Minor: {{ brother.minor }}<br></p>
    </div>
    {% if check == 0  or diff == 0 %}
    </div>
    {% endif %}
  {% endfor %}
{% endif %}
{% assign length = site.data.brothers.Freshmen | size %}
{% if length != 0 %}
  <br>
  <h2>Freshmen</h2>
  {% assign cSize = "column4" %}
  {% for brother in site.data.brothers.Freshmen %}
    {% assign check = forloop.index | modulo: 4 %}
    {% assign diff = length | minus: forloop.index %}
    {% if check == 1 %}
      <div class="row">
      {% assign diff = length | minus: forloop.index %}
      {% if diff < 4 %}
        {% if diff == 2 %}
          {% assign cSize = "column3" %}
          {% assign check = false %}
        {% endif %}
        {% if diff == 1 %}
          {% assign cSize = "column2" %}
          {% assign check = false %}
        {% endif %}
        {% if diff == 0 %}
          {% assign cSize = "" %}
          {% assign check = false %}
        {% endif %}
      {% endif %}
    {% endif %}
    <div class="{{ cSize }}">
      <img class="headshot"
      src="{% if brother.image != None %} {{brother.image}} {% else %} /assets/images/test.jpg {% endif %}">
      <h3 class="center">{{ brother.name }}</h3>
      <p class="center">Major: {{ brother.major }}<br>Minor: {{ brother.minor }}<br></p>
    </div>
    {% if check == 0 or diff == 0 %}
    </div>
    {% endif %}
  {% endfor %}
{% endif %}
