.Footer-component {
  background-color: #543975;
  height: 55px;
  color: white;
}

.Footer-component .row {
  text-align: center;
}

.social {
  margin-top: 10px;
}

.copyright {
  margin-top: 15px;
}

a {
  margin-right: 5px;
  color: white;
}
