.NavBar-Component {
  /* height: 56px; */
  /* margin-bottom: 15px; */
}

.bg-feej {
  background-color: #543975;
}

.feej-link {
  color: rgb(255 255 255 / 0.7) !important;
}

.feej-brand {
  color: rgb(255 255 255) !important;
  font-weight: bolder;
}

.feej-link:hover {
  font-weight: bolder;
}

.feej-link.active {
  color: rgba(255,255,255,1) !important;
  font-weight: bolder;
}

.crest {
  height: auto;
  width: 38px;
}
