<footer>
  <script src="/assets/js/typedjs/typed.min.js"></script>
  <script src="/assets/js/site.js"></script>
  <script src="https://kit.fontawesome.com/05f94537f5.js" crossorigin="anonymous"></script>
  <div style="padding-top: 15px">
    <a href="mailto:fiji@allegheny.edu"><i class="fas fa-envelope fa-2x"></i></a>
    <a href="https://www.facebook.com/allegheny.fiji/"><i class="fab fa-facebook fa-2x"></i></a>
    <a href="#/"><i class="fab fa-instagram fa-2x"></i></a>
  </div>
  <p>&copy Phi Gamma Delta Pi Chapter. All Rights Reserved.</p>
</footer>
