<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/assets/css/site.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/balzss/luxbar/ae5835e2/build/luxbar.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/png" href="/favicon.png"/>

  <meta name="keywords" content="{{ page.tags }}"/>
  <meta name="description" content="{% if page.description != None %}{{ page.description }} {% else %} {{ site.description }}{% endif %}"/>
  {% seo title=false%}
  <title>
    {{ page.title }} {% if site.title != page.title %} | {{ site.title }} {% endif %}
  </title>
</head>
