/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .About-Content {
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .coat {
    height: 200px;
    width: auto;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .About-Content {
    padding-top: 15px;
  }

  .coat {
    height: 275px;
    width: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .About-Content {
    padding-top: 15px;
  }

  .coat {
    height: 275px;
    width: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .About-Content {
    padding-top: 15px;
  }

  .coat {
    height: 275px;
    width: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
