.Donate-Component {
  min-height: 100vh;
  padding-top: 20px;
  text-align: center;
}

.header {
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Donate-Component {
    padding-left: 20px;
    padding-right: 20px;
  }

  .Donate-Component .image{
    height: 230px;
    width: auto;
  }

  .message {
    padding-top: 60px;
  }

  .donate-button {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Donate-Component {
    padding-left: 20px;
    padding-right: 20px;
  }

  .Donate-Component .image{
    height: 345px;
    width: auto;
  }

  .message {
    /* padding-top: 60px; */
  }

  .donate-button {
    /* margin-left: 20px; */
    /* margin-right: 20px; */
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Donate-Component {
    padding-left: 20px;
    padding-right: 20px;
  }

  .Donate-Component .image{
    height: 345px;
    width: auto;
  }

  .message {
    padding-top: 60px;
  }

  .donate-button {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Donate-Component {
    padding-left: 20px;
    padding-right: 20px;
  }

  .Donate-Component .image{
    height: 345px;
    width: auto;
  }

  .message {
    padding-top: 60px;
  }

  .donate-button {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
