/* General Website Styling */
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background: #520975;
}

@media only screen and (min-width: 600px) {
  img {
    height: 400px;
    width: auto;
  }

  .title {
    font-size: 68px;
    color: #520975;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

  .column2 {
    float: left;
    width: 50%;
  }

  .column3 {
    float: left;
    width: 33.33%;
  }

  .column4 {
    float: left;
    width: 25%;
  }

  .column5 {
    float: left;
    width: 20%;
  }

  .luxbar-brand {
    font-size: 1.6em;
    padding: 18px 24px 18px 24px;
  }

  .content {
    padding-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .dropdown>ul .luxbar-item {
    background-color: #520975;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    padding: 5px 10px 5px 0px !important;
  }

  .headshot {
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .recaptcha {
    text-align: center;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  img {
    height: 200px;
    width: auto;
  }

  h2 {
    font-size: 20px;
  }

  .title {
    font-size: 40px;
    color: #520975;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

  .column2 {
    width: 100%;
  }

  .column3 {
    width: 100%;
  }

  .column4 {
    width: 100%;
  }

  .column5 {
    width: 100%;
  }

  .luxbar-brand {
    font-size: 1.1em !important;
    padding: 18px 24px 18px 24px;
  }

  .content {
    padding-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .dropdown>ul .luxbar-item {
    background-color: #520975;
    color: #ffffff;
    font-weight: normal;
  }

  .headshot {
    height: 300px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .recaptcha {
    text-align: center;
    padding-bottom: 10px;
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}

.background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.buffer {
  padding-top: 48px;
}

.shadow {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 30px;
}

/* Social Icons */
.fas {
  color: #ffffff;
}

.fas:hover {
  opacity: 0.8;
  color: #000000;
  cursor: pointer;
}

.fab {
  color: #ffffff;
}

.fab:hover {
  opacity: 0.8;
  color: #000000;
  cursor: pointer;
}

/* Centered Name & TypeScript */
.header-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  color: #000000;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.luxbar-menu-royal {
  background-color: #520975;
  color: #ffffff;
}

.luxbar-menu-royal .active {
  background-color: #630092;
}

.luxbar-hamburger span,
.luxbar-hamburger span::before,
.luxbar-hamburger span::after {
    display: block;
    height: 2px;
    width: 26px;
    transition: 0.6s ease;
    background-color: #ffffff;
}

.luxbar-item:hover {
  color: #000000;
  font-weight: bolder;
}

.dropdown>ul .active{
  background-color: #630092;
}

.dropdown>ul .luxbar-item:hover {
  color: #000000;
  font-weight: bolder;
}


/* Form Styling */
.form-style-9{
	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 10px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #520975;
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
	width: 49%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-9 ul li input[type="button"],
.form-style-9 ul li input[type="submit"] {
	/* -moz-box-shadow: inset 0px 1px 0px 0px #3985B1; */
	/* -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1; */
	/* box-shadow: inset 0px 1px 0px 0px #3985B1; */
	background-color: #520975;
	border: 1px solid #520975;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover,
.form-style-9 ul li input[type="submit"]:hover {
	/* background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%); */
	background-color: #000000;
}
