<!DOCTYPE html>
<!--
                    PLEASE CREDIT IF USED OR MODIFIED
        Origiinally created by Zachary Andrews Allegheny College 2020
                Phi Gamma Delta Pi Chapter Kappa Class 2017
        Former Pi Chapter Treasurer (2018) & Recording Secretary (2019)
                    Pi Chapter Tech Chair (Spring 2020)
                                Contact:
                      Email: zachandr98@gmail.com
                        Github: ZachAndrews98
 -->
<html lang="en">

{% include head.html %}

<body
{% if page.background != None %}
class="background" style="background-image: url('{{ page.background }}');"
{% endif %}>
  {% include header.html %}
  <div class="buffer">
  </div>
  <div class="content">
    {{ content }}
  </div>
</body>
{% include footer.html %}
</html>
<!--
                    PLEASE CREDIT IF USED OR MODIFIED
        Origiinally created by Zachary Andrews Allegheny College 2020
                Phi Gamma Delta Pi Chapter Kappa Class 2017
        Former Pi Chapter Treasurer (2018) & Recording Secretary (2019)
                    Pi Chapter Tech Chair (Spring 2020)
                                Contact:
                      Email: zachandr98@gmail.com
                        Github: ZachAndrews98
 -->
